* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Colby Compressed, Helvetica Neue, Arial, sans-serif;
}
.body_wrapper {
    max-width: 100%; 
    display: grid;
    grid-auto-rows: auto auto auto;
    grid-auto-columns: auto;
}
.header_grid {
    /* margin: 0 auto; */
    grid-column: 1;
    grid-row: 1;
}
.main_grid {
   grid-column: 1;
   grid-row: 2;
}
.footer_grid {
    grid-column: 1;
    grid-row: 3; 
}
.header {
    display: grid;
    padding: 20px 36px;
}
.header_logo  {
    grid-column: 1;
}
.header_nav {
    grid-column: 2;
}
.header_nav {
    display: grid;
    align-content: center;
   
}
.nav_grid {
    display: grid;
    justify-content: end;
    list-style: none; 
    font-size: 22px;
}
.nav_1 {
    grid-column: 1;
}
.nav_2 {
    grid-column: 2;
}
.nav_3 {
    grid-column: 3;
}
.nav_4 {
    grid-column: 4;
}
.nav_5 {
    grid-column: 5;
}
.nav_6 {
    grid-column: 6;
}
nav li {
    padding: 15px 20px 10px;
}
.header_nav a { 
    color: #000;
    padding: 0px 0px 10px;
    font-weight: 400;
    text-decoration: none;
 }
.header_nav li:last-child {
    background-color: #c00020;
    border-radius: 10px;
    font-weight: 400;
    padding: 15px 20px;
}
li:last-child a {
    color: #fff;
}
.main_banner_img img {
    width: 100%;
    filter: brightness(65%);
    max-width: 100%;
}
.main_banner {
    position: relative;
}
.main_banner_content {
    position: absolute;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;  
    height: 208px;
    width: 100%;
    top: 53%;
    left: 0%; 
    padding: 0;
 }

 .main_banner_content h1 {
    font-size: 2.6rem;
    margin: 1rem 0 1.6rem;
    color: #fff;
    font-weight: 400;
    max-width: 892px;
    padding: 0 32px;
    letter-spacing: -2px;
 }
 .main_banner_content p {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 400;
    padding: 0 36px;
    letter-spacing: 0px;
 }
 .main_banner_content a { 
    color: #c00020;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0;
    margin-right: 0;
    text-decoration:none ;
    text-align: center;
 }
 .main_banner_anchor {
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 48px;
    margin-bottom: 56px;
    border: none;
    min-width: 10%;
}
.natura_container {
    display: grid;
   grid-template-columns: 1fr 56%;
    align-items: center;
    width: 100%;
    padding: 0 36px;
    max-width: 1640px;
    margin: 0 auto;
    margin-top: 8.4rem;
    margin-bottom: 5rem;
 }
 .child_natura_container1{
    grid-column: 1;
    grid-row: 1;
 }
 .child_natura_container1{
    background-image: url(/img/tomatoes.svg);
    background-repeat: no-repeat;
    background-position: 104% ;
    width:100%;
 }
 .child_natura_container1 article h2
 {
    position: relative;
    text-transform: uppercase;
    max-width: 380px;
    margin-top: 30px;
    font-size: 34px;
    color: #c00020;
    display: inline-grid;
    font-weight: 400;
    letter-spacing: -4px;
 }
 .child_natura_container1 article h3 {
    text-transform: uppercase;
    max-width: 380px; 
    font-size: 34px;
    color: #c00020; 
    font-weight: 400;
    letter-spacing: -2px;
 }
 .child_natura_container1 article h2::before {
    background-image: url(/img/green-underline.svg);
    left: -36px;
    top: -60%;
    height: 10px;
    content: "";
    position: absolute;
    width: 108%;
    background-repeat: repeat-x; 
}
.child_natura_container1 article h2::after {
    background-image: url(/img/drop1.svg);
    left: 100%;
    top: -90%;
    height: 40px;
    content: "";
    position: absolute;
    width: 12%;
    background-repeat: no-repeat;
}
 .child_natura_container1 article p {
    color: #340009;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 400;
    max-width: 68%;
 }
 .child_natura_container1 .natura_container_anchor a {
    width: auto;
    height: auto;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;  
 }
 .child_natura_container1 .natura_container_anchor {
    display: inline-grid;
    background-color: #c00020;
    border-radius: 10px;
    justify-content: center;
    padding: 20px 52px;
    min-width: 30%;
 }
 .child_natura_container2 {
    grid-column: 2;
    grid-row: 1;
 }
 .child_natura_container2 img{
    max-width: 100%;
    height: auto;
    width: 100%;
    border-radius: 20px;
 }
 .second_natura_container {
    position: relative;
    display: grid;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1640px;
    padding: 0px 36px;
   
 }
 .second_natura_container_child1{
    display: inline-grid;
    justify-items: center;
 }

 .second_natura_container_child2{
    display: grid;
    padding: 30px 56px;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;

 }
 .second_natura_container_child1 h2::before {  
    background-image: url(/img/leaf-icon.svg);
    background-repeat: no-repeat;
    content: "";
    height: 45px;
    position: absolute;
    top: 10px;
    left: -106px;
    width: 58px;
 }
 .second_natura_container_child1 h2::after {
    background-image: url(/img/leaf-icon.svg);
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    height: 45px;
    width: 58px;
    top: 8px;
    left: 110%;

 }
 .second_natura_container_child1 h2 {
    position: relative;
    color: #c00020;
    font-size: 56px;
    font-weight: 400;
    margin: 0 50px 15px 50px;
    letter-spacing: -4px;
    text-transform: uppercase;
 }
 .second_natura_container_child1 p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    width: 88%;
    text-align: center;
 }
 .natura_child1{
    grid-column: 1;
    border: #340009 solid 1px;
    border-radius: 10px;
    padding:  42px 50px 42px 50px;
    text-align: center;
 }
 .natura_child2{
    grid-column: 2;
    border: #340009 solid 1px;
    border-radius: 10px;
    padding:  42px 50px 42px 50px;
    text-align: center;
  
 }
 .second_natura_container .natura_child1 h3, 
 .second_natura_container .natura_child2 h3 {
    color: #340009;
    /* display: block; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 45px;
    letter-spacing: -4.5px;
    font-weight: 400;
 }
 .second_natura_container .natura_child1 .natura_child_anchor a,
 .second_natura_container .natura_child2 .natura_child_anchor a{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
 }
 .second_natura_container .natura_child1 .natura_child_anchor,
 .second_natura_container .natura_child2 .natura_child_anchor {
    display: inline-grid;
    margin-bottom: 20px;
    background-color: #c00020;
    border-radius: 10px;
    padding: 20px 52px;
    min-width: 30%;
 }
 .second_natura_container .natura_child1 img,
 .second_natura_container .natura_child2 img {
    width: 100%;
 }
 .third_natura_container {
    display: grid;
    position: relative;
    max-width: 1640px;
    padding: 0 36px;
    width: 100%;
    margin: 0 auto;
 }
 .third_natura_container h2 {
    margin-top: 30px;
    font-size: 50px;
    font-weight: 400;
    color: #c00020;
    letter-spacing: -4px;
    text-transform: uppercase;
 }
.third_natura_container p {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #340009;
}
 .third_grid_child1 {
    grid-row: 1;
    grid-column: 1fr;
 }
 .third_grid_child2 {
    grid-row: 2 ;
    grid-column: 1fr;
 }
 .third_grid_child3{
    grid-row: 3;
    grid-column: 1fr ; 
 }
 .third_natura_container h2::after {
    background-image: url(/img/drop.svg);
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    height: 45px;
    width: 58px;
    top: 1%;
    left: 47%;
}
 .third_natura_container_child {
    display: grid;
    justify-content: center;
    margin: auto;
    padding: 0;
    column-gap: 16px;
    row-gap: 50px;
    margin-bottom: 30px;
 }
 .third_natura_child1 {
    grid-row: 1;
    grid-column: 1;
    
 }
 .third_natura_child2 {
    grid-row: 1;
    grid-column: 2;
   
 }
 .third_natura_child3 {
    grid-row: 1;
    grid-column: 3;
   
 }
 .third_natura_container_child .third_natura_child img {
    border-radius: 15px;
    /* max-width: 100%; */
    width: 100%;
}
.third_natura_container_child .third_natura_child h3{
    position: absolute;
    color: #fff;
    background: #8ba800;
    border: #8ba800 solid 1px;
    padding: 15px 36px;
    font-weight: 400;
    border-radius: 0 36px 36px 0;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -2px;
    top: 26%;

}

.third_natura_container_child .third_natura_child{
   min-width: 100%;
   /* width: 100%; */
  
}
.third_natura_child h4 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #c00020;
    letter-spacing: -2px;

}
.third_natura_child p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #340009;
    margin: 20px 0; 
}
.third_natura_child .third_natura_child_anchor {
    text-align: center;
    min-width: 30%;
}
.third_natura_child .third_natura_child_anchor a {
    color: #340009;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
}
.third_natura_container .third_natura_container_anchor {
    justify-content: center;
    margin-bottom: 20px;
    background-color: #c00020;
    border-radius: 10px;
    padding: 20px 52px;
    width: fit-content;
    margin: 0 auto;
    min-width: 10%;
}
.third_natura_container .third_natura_container_anchor a { 
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.forth_natura_container {
    display: grid;
    padding-top: 60px;
    padding-left: 36px;
    padding-right: 36px;  
    column-gap: 10px;
    max-width: 100%;
}
.forth_natura_child {
    grid-row: 1;
    grid-column: 1;
}
.forth_natura_child1{
    grid-row: 1;
    grid-column: 2;
}
.forth_natura_child2{
    grid-row: 1;
    grid-column: 3;
}
.forth_natura_width {
    max-width: 100%;
    width: 100%;
}
.forth_natura_child {
    position: relative;
}
.forth_natura_child  p::after {
    background-image: url(/img/green-underline.svg);
    left: 0;
    bottom: 50%;
    height: 10px;
    content: "";
    position: absolute;
    width: 100%;
    background-repeat: repeat-x;
}
.forth_natura_child h2 {
    color: #c00020;
    text-transform: uppercase;
    letter-spacing: -4px;
    margin: 30px 0px;
    font-size: 50px;
    font-weight: 400;
}
.forth_natura_child p {
    color: #340009;
    margin: 36px 0px;
    font-size: 20px;
    font-weight: 400;
}
.forth_natura_child .forth_natura_child_anchor {
    display: inline-flex;
    margin-bottom: 20px;
    background-color: #c00020;
    border-radius: 10px;
    padding: 20px 52px;
    min-width: 30%;
}
.forth_natura_child .forth_natura_child_anchor a {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.forth_natura_child1,
.forth_natura_child2 {
    position: relative;
    border: #340009 solid 0.1px;
    border-radius: 10px;
}
.forth_natura_child1 h3,
.forth_natura_child2 h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    padding: 18px 20px;
    border: #c00020 solid 1px;
    border-radius: 0 30px 30px 0;
    background: #c00020;
    top: 6%;
    position: absolute;
    
}
.forth_natura_child1 img,
.forth_natura_child2 img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.forth_event {
  padding: 30px 50px;
}
.forth_event h4 {
    color: #c00020;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: -2px;
}
.forth_event p {
    color: #340009;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}
.fifth_natura_container {
    display: grid;
    padding: 0 36px;
    padding-bottom: 40px;
    max-width: 1640px;
    margin: 0 auto;
}
.fifth_natura_child {
 grid-column: 1fr;
 grid-row: 1;
 position: relative;
}
.fifth_natura_child_container {
    grid-column: 1fr;
    grid-row: 2;
}
.fifth_natura_child_container {
    display: grid;
}
.fifth_child1 {
    grid-column: 1;
    grid-row: 1;
}
.fifth_child2 {
    grid-column: 2;
    grid-row: 1;
}
.fifth_child3 {
    grid-column: 3;
    grid-row: 1;
}
.fifth_child4 {
    grid-column: 4;
    grid-row: 1;
}
.fifth_natura_child  h2::before {
    background-image: url(/img/green-underline.svg);
    left: 24%;
    padding: 1px;
    top: 30%;
    height: 10px;
    content: "";
    position: absolute;
    width: 13%;
    background-repeat: repeat-x;
}
 .fifth_natura_child  h2::after {
    background-image: url(/img/green-underline.svg);
    right: 24%;
    top: 30%;
    padding: 1px;
    height: 10px;
    content: "";
    position: absolute;
    width: 13%;
    background-repeat: repeat-x;
 }
 .fifth_natura_container .fifth_natura_child {
    display: grid;
    justify-items: center;
}
.fifth_natura_container .fifth_natura_child h2 {
    color: #c00020;
    font-size: 45px;
    font-weight: 400;
    width: 50%;
    text-align: center;
    letter-spacing: -2px;
    margin: 80px 40px 20px 40px;
}
.fifth_natura_container .fifth_natura_child p {
    color: #340009;
    font-size: 20px;
    font-weight: 400;
    width: 58%;
    text-align: center;
    margin: 0 20px 20px 20px;
}
.fifth_natura_container .fifth_natura_child_container {
 column-gap: 10px;
 padding: 20px 58px 60px 58px;
}

.fifth_natura_container .fifth_natura_child_container .fifth_child1 img,
.fifth_natura_container .fifth_natura_child_container .fifth_child2 img,
.fifth_natura_container .fifth_natura_child_container .fifth_child3 img,
.fifth_natura_container .fifth_natura_child_container .fifth_child4 img {
    width: 100%;
    max-width: 100%;
}

footer {
    max-width: 100%;

}
.footer_container {
    display: grid;

}
.footer_container_part_1{
   grid-column: 1;
   grid-row: 1;
}
.footer_unilever {
    grid-column: 1;
    grid-row: 2 ;
}
.footer_container_part_1 {
    display: grid;
}
.footer_container_child1 {
    grid-column: 1;
    grid-row: 1;
}
.footer_container_child2 {
    grid-column: 2;
    grid-row: 1;
}
.footer_inner_child1 {
    display: grid;
}
.footer_child1 {
    grid-column: 1;
    grid-row: 1;
}
.footer_child2 {
    grid-column: 2;
   grid-row: 1;
}
.footer_child3 {
    grid-column: 3;
   grid-row: 1;
}
.footer_child4 {
    grid-column: 4;
   grid-row: 1;
}

.footer_container .footer_container_part_1 {
    
    /* padding: 0 78px; */
    max-width: 100%;
    width: 100%;
    padding: 118px 36px 74px 36px;
    background-color: rgb(253, 245, 229);
}
.footer_container_part_1 .footer_container_child1 {
    width: 100%;
}
.footer_container_part_1 .footer_container_child1 img {
    padding-left: 80px;
    padding-top: 100px;
    padding-right: 80px;
    width: 80%;

}
.footer_container_part_1 .footer_container_child2 {
    padding-left: 22%;
    width: 90%;
}
.footer_inner_child1 {
    column-gap: 50px;
    padding-bottom: 20px;
    border-bottom: #340009 solid 1px;
}
.footer_inner_child1 ul li {
    list-style: none;
    padding: 10px 0;
    border-bottom: #340009 solid 1px;
}
.footer_inner_child1 ul li:last-child {
    border-bottom: none;
}
.footer_inner_child1 ul li a {
    text-decoration: none;
    text-wrap: wrap;
    color: #340009;
    font-size: 20px;
    font-weight: 400; 
}
.footer_inner_child2 {
    color: #340009;
    font-size: 20px;
    font-weight: 400; 
    padding-bottom: 20px;
}
.footer_inner_child2 p {
    margin: 20px 0;
}
.footer_inner_child2 a {
    color: #340009;
}
.footer_unilever {
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color: #c00020;
    padding: 50px 36px;
}
.footer_unilever p {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
}
.footer_unilever img {
    max-width: 100%;
    width: 75px;
}
.footer_container{
    position: relative;
}
.footer_container_child1::before{
    background-image: url(/img/footer_right1.svg);
    left: 0;
    top: 0;
    height: 74.5%;
    content: "";
    position: absolute;
    width: 26px;
}
.footer_container_child1::after{
    background-image: url(/img/footer_left1.svg);
    right: 0;
    transform: scaleX(-1);
    top: 0;
    height: 75%;
    content: "";
    position: absolute;
    width: 26px;
}
