body  {
    background-color:rgb(225, 240, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px solid blue;
}
h1 {
    font-size: 60px;
    color: rgb(21, 22, 23);
    margin-top: 0%;
    text-align: center;
    position: relative;

}
#img1 {
    position: absolute;
    width: 10%;
    height: auto;
    margin-left: 1%;
    margin-top: 0.5%;
    
}
.top {
    font-size: 25px;
    font-weight: 600;
    margin-left: 1%;
    text-align: justify;
}
#img2 {
    position: absolute;
    width: 7cm;
    height: 6cm;
    left: 12%;
}
#bar {
    position: relative;
    margin-left: 40%;
    margin-right: 1%;
    font-weight: 500;
    text-align: justify;
}
.down {
    margin-left: 1%;
    margin-right: 1%;
    font-weight: 500;
    text-align: justify;
}
#img3 {
    width: 50%;
    margin-left: 24%;
    border: 2cap solid rgb(142, 142, 219);
}