body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

footer{
    background-color: rgb(44, 41, 41);
    color: rgb(207, 193, 193);
    display: flex;
    height: auto;
    justify-content: space-around;
    padding: 20px;
    
    /* margin-top: 10%; */

}
.right {
    color: rgb(207, 193, 193);
}
.column {
    width: 27%;
}
p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    padding: 0%;
}
li {
    margin-bottom: 5px;
}
header {
    background-color: rgb(44, 41, 41);
    height: 25%;
    color: rgb(207, 193, 193);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    width: 100%;
   
} 
.top
{
    width: 27%;
    
}
header section p {
    text-align: center;
    font-size: 60px;
    margin-top: 10%;
    
}
 #side {
   margin-bottom: 10%;
    font-size: larger;
}

 #img {
    padding-top: 15%;
    margin-right: 20%; 
    width: 40%;
    height: auto;

}
 #img2 {
    padding-top: 13%;
    width: 25%;
    height: auto;
    margin-left: 80%;
}
a {
    text-decoration: none;
    color: rgb(207, 193, 193);
    display: block;
}
.Company {
    font-size: large;
    padding-right: 100%;
}
#add {
    font-size: large;
    margin-top: 12%;
}
 .container {
    background-color: rgb(75, 73, 73);
    color: rgb(243, 236, 236);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 75%;
  
}
.content {
    width: 70%;
}
.content article {
    width: 70%;
    padding-left: 3%;
}
.content img {
    width: 50%;
    align-items: center;
    padding-left: 10%;
    padding-top: 3%;
}
 section video {
    align-content: center;
    margin-top: 15%;
    
}

