$title_color: green;

h1 {
    color: $title_color;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;

    .column {
        width: 100%;
        padding: 0 4px;
        display: flex;
        flex-direction: column;
        

        img {
            margin-top: 8px;
            float: left;
            
            vertical-align: middle;
            width: auto;
            
            height: 300px;
            margin: 10px;
            
        }

        
    }

       .column {
            width: 99%;
        }


   
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .column {
            width: 49%;
        }
    }

    @media only screen and (min-width: 1024px) {
        .column {
            width: 24%; 
        }
    } 
}

