* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Font;

}
@font-face {
    font-family: Font;
    src: url(/fonts/Colby-CpExtLt.ttf);
}

header .header {
    display: block;
    text-align: center;
    padding: 10px 36px;
}

.header .header_nav nav ul {
    list-style: none;
    display: inline-block;
}

.header .header_nav nav ul li {
    padding: 6px 10px 6px;
}

.header .header_nav nav ul li a {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.header .header_nav nav ul li:last-child {
    background-color: #c00020;
    border-radius: 8px;
    font-weight: 400;
    padding: 10px 10px;
}

.header .header_nav nav ul li:last-child a {
    color: #fff;
}

main .main_banner {
    position: relative;
    text-align: center;
}

.main_banner_img img {
    width: 100%;
    aspect-ratio: 1 / 0.5;
    filter: brightness(65%);
}

.main_banner_content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 38%;
}

.main_banner_content h1 {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 16px;
}

.main_banner_content p {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 16px;
}

.main_banner_content a {
    color: #c00020;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.main_banner_anchor {
    border-radius: 10px;
    display: inline-block;
    background-color: #fff;
    padding: 12px 34px;
}

.natura_container {
    text-align: center;
    padding: 0 36px;
    margin-bottom: 28px;
}

.child_natura_container2 img {
    width: 100%;
    border-radius: 20px;
}

.child_natura_container1 article h2 {
    font-size: 20px;
    font-weight: 600;
    color: #c00020;
    text-transform: uppercase;
    margin-top: 30px;
}

.child_natura_container1 article p {
    color: #340009;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 10px;
}

.child_natura_container1 .natura_container_anchor a {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

.child_natura_container1 .natura_container_anchor {
    background-color: #c00020;
    border-radius: 10px;
    padding: 12px 36px;
    margin-bottom: 16px;
}

.second_natura_container {
    text-align: center;
    padding: 0 36px;
    margin-bottom: 28px;
}

.second_natura_container_child2 {
    padding: 0 32px;
}

.second_natura_container_child1 h2 {
    color: #c00020;
    font-size: 24px;
    font-weight: 600;
    margin: 0 45px 15px 45px;
    text-transform: uppercase;
}

.second_natura_container_child1 p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.natura_child1,
.natura_child2 {
    border: #340009 solid 1px;
    border-radius: 10px;
    padding: 18px;
    margin-bottom: 18px;
    text-align: center;
}

.second_natura_container .natura_child1 h3,
.second_natura_container .natura_child2 h3 {
    color: #340009;
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: 400;
}

.second_natura_container .natura_child1 .natura_child_anchor a,
.second_natura_container .natura_child2 .natura_child_anchor a {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.second_natura_container .natura_child1 .natura_child_anchor,
.second_natura_container .natura_child2 .natura_child_anchor {
    margin-bottom: 20px;
    background-color: #c00020;
    border-radius: 10px;
    padding: 12px 36px;

}

.second_natura_container .natura_child1 img,
.second_natura_container .natura_child2 img {
    width: 100%;
}

.third_natura_container {
    text-align: center;
    padding: 0 36px;
    margin-bottom: 28px;
}

.third_natura_container h2 {
    margin-top: 30px;
    font-size: 22px;
    color: #c00020;
    text-transform: uppercase;
}

.third_natura_container p {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #340009;
}

.third_natura_container_child {
    margin-bottom: 14px;
}

.third_natura_container_child .third_natura_child img {
    border-radius: 15px;
    width: 100%;
}

.third_natura_container_child .third_natura_child {
    position: relative;
}

.third_natura_container_child .third_natura_child h3 {
    position: absolute;
    color: #fff;
    background: #8ba800;
    border: #8ba800 solid 1px;
    padding: 13px 49px;
    font-weight: 400;
    border-radius: 0 36px 36px 0;
    font-size: 12px;
    text-transform: uppercase;
    top: 40px;
}

.third_natura_child h4 {
    font-size: 18px;
    text-align: center;
    color: #c00020;
}

.third_natura_child p {
    font-size: 14px;
    text-align: center;
    color: #340009;
    margin: 12px 0;
}

.third_natura_child .third_natura_child_anchor a {
    color: #340009;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 700;
}

.third_natura_container .third_natura_container_anchor {
    background-color: #c00020;
    border-radius: 10px;
    padding: 12px 36px;
}

.third_natura_container .third_natura_container_anchor a {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.forth_natura_container {
    text-align: center;
    padding: 0 36px;
    margin-bottom: 28px;
}

.forth_natura_child {
    position: relative;
    text-align: center;
}

.forth_natura_child h2 {
    color: #c00020;
    text-transform: uppercase;
    margin: 30px 0px 20px 0px;
    font-size: 34px;
}

.forth_natura_child p {
    color: #340009;
    margin: 12px 0px;
    font-size: 16px;
}

.forth_natura_child .forth_natura_child_anchor {
    background-color: #c00020;
    border-radius: 10px;
    padding: 12px 36px;
    margin-bottom: 12px;
}

.forth_natura_child .forth_natura_child_anchor a {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.forth_natura_child1,
.forth_natura_child2 {
    position: relative;
    border: #340009 solid 0.1px;
    border-radius: 10px;
    margin-bottom: 16px;
}

.forth_natura_child1 h3,
.forth_natura_child2 h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    padding: 18px 20px;
    border: #c00020 solid 1px;
    border-radius: 0 30px 30px 0;
    background: #c00020;
    top: 6%;
    position: absolute;
}

.forth_natura_child1 img,
.forth_natura_child2 img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.forth_event {
    padding: 15px 40px;
}

.forth_event h4 {
    color: #c00020;
    font-size: 15px;
}

.forth_event p {
    color: #340009;
    font-size: 12px;
    margin: 6px 0;
}

.fifth_natura_container {
    text-align: center;
    padding: 0 36px;
    margin-bottom: 28px;
}

.fifth_natura_container .fifth_natura_child h2 {
    color: #c00020;
    font-size: 25px;
    margin: 0 20px 20px 20px;
}

.fifth_natura_container .fifth_natura_child p {
    color: #340009;
    font-size: 14px;
    margin-bottom: 10px;
}

.fifth_natura_child_container .fifth_child img {
    width: 100%;
}

.footer_inner_child1 ul li {
    list-style: none;
    padding: 10px 0;
    border-bottom: #340009 solid 1px;
}

.footer_inner_child1 ul li a {
    text-decoration: none;
    color: #340009;
    font-size: 20px;
    font-weight: 400;
}

.footer_inner_child2 a {
    color: #340009;
}

.footer_inner_child2 {
    color: #340009;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}

.footer_inner_child2 p {
    margin: 20px 0;
}

.footer_container .footer_container_part_1 {
    padding: 100px 36px 74px 36px;
    background-color: rgb(253, 245, 229);
}

.footer_container_part_1 .footer_container_child1 {
    padding: 46px;
}

.footer_container_part_1 .footer_container_child1 img {
    width: 100%;
}

.footer_unilever {
    text-align: center;
    background-color: #c00020;
    padding: 50px 36px;
}

.footer_unilever p {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
}

.footer_unilever img {
    width: 75px;
}