body {
    background-color:rgb(255, 254, 253);
    font-family: Arial, Helvetica, sans-serif;
   
}
.h_div_1 {
    float: left;
    width: 60%;
}
.h_div_2 {
    float: left;
    width: 40%;  
}
header ul li {
    list-style: none;
    display: inline-block;
    padding: 6px;
}
 li:last-child {
    border: 1px solid rgb(199, 2, 2);
    background-color: rgb(199, 2, 2);
    border-radius: 6px;
}
.h_div_2 a {
    color: rgb(12, 12, 12);
    text-decoration: none;
}
li:last-child a {
    color: white;
}
.merge {
    position: absolute;
    bottom: 10%;
    text-align: center;
    left: 20%;
}
.merge h1  {
    color: white;
    font-size:50px;  
}
.merge p {
    color: white;
    font-size:20px;  
}
.merge .white {
    width: 14%;
    border: 18px solid white;
    background-color: white;
    border-radius: 6px;
    margin-left: 40%;
}
.white a {
    text-decoration: none;
    color: rgb(199, 2, 2);
    font-weight: bolder;
   
}
.red {
    width: 6%;
    border: 1px solid rgb(199, 2, 2);
    padding: 8px 2px 8px 2px;
    background-color: rgb(199, 2, 2);
    border-radius: 6px;
}
.Scrool_page {
    margin-bottom: 4%;
}
.Scrool_page img {
    width: 100%;
}
.float_container {
    float: left;
    width: 100%;
}
.float_container ::after {
    content: "";
    display: block;
    clear: both;
}
.float_container .split1 {
    float: left;
    width: 40%;
    margin-bottom: 6%;
}
.float_container .split2 {
    float: left;
    width: 60%;
    margin-bottom: 6%;
}
.red2  {
    width: 18%;
    text-align: center;
    margin-left: 10%;
}
.red2 a {
    text-decoration: none;
    color: white; 
}
.split1 h1 {
    color: rgb(199, 2, 2);
}
.split1 article {
    width: 50%;
    margin-left: 8%;
}
.split2 img {
    width: 100%;
    border-radius: 12px;
}
.center {
    text-align: center;
}
.center h2{
    color: rgb(199, 2, 2);
    font-size: xx-large;
}
.tomato {
    float: left;
    width: 48%;
    margin: 4px;
    margin-bottom: 8%;
    text-align: center;
    border: 1px solid black;
}
.tomato h3 {
    text-align: center;
    font-size: xx-large;
}
.red3 {
    margin-left: 40%;
    margin-bottom: 2%;
}
.chef h2 {
    color: rgb(199, 2, 2);
    font-size: xx-large;
}
.inner_chef {
    float: left;
    width: 33%;
    text-align: center;
    margin-bottom: 6%;
}
.inner_chef img {
    width: 90%;
    border-radius: 12px;
}
.view a {
    border: 2px solid rgb(199, 2, 2);
    text-decoration: none;
    padding: 8px 8px 8px 8px;
    background-color: rgb(199, 2, 2);
    color: white;
    border-radius: 10px; 
    margin-left: 12%;
}
.inner_chef h4 {
    color: rgb(199, 2, 2);
   font-size: larger;
}
.inner_chef a {
    color: rgb(33, 31, 31);
    font-weight: bold;
}
.event {
    float: left;
    width: 32.3%;
    margin: 5px;
}
.shape {
    border-radius: 10px;
    border: 1px solid black;
}
.event img {
    border-radius: 12px 12px 0 0; 
    width: 100%;
}
.event h4 {
    font-size: x-large;
    color: rgb(199, 2, 2);
}
.event1  {
    text-align: justify;
    padding: 10px 20px 10px 20px;
}
.view1 {
    width: 20%;
}
.event h2 {
    color: rgb(199, 2, 2);
    font-size: 35px;
}
.gap {
    margin-bottom: 4%;
}
.join {
    width: 40%;
    margin-left: 32%;
}
.width {
    float: left;
    width: 25%;
}
.width img {
    width: 98%; 
}
.color {
    background-color: rgb(254, 230, 243);
    clear: left;
}
.footer {
    float: left;
    width: 30%;
    margin-left: 8%;
}
.footer1 {
    float: left;
    width: 62%;
}
.footer h5 {
    font-size: xx-large;
    color: rgb(199, 2, 2);
}
.part {
    float: left;
    width: 25%;
}
.part a {
    display: block;
    margin: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.last {
    margin-left: 2%;
}
.last a {
    color: black;
    font-weight: bolder;
}
.last p {
    color: black;
    font-weight: bolder;
}
.unilever {
    background-color: rgb(199, 26, 26);
    text-align: center;
}
.unilever img {
    margin-top: 6%;
    width: 5%;
}
.unilever p {
    color: white;
    font-size: x-large;
    padding-bottom: 6%;
}